<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
</head>
<body>
    <a href="/budget/new"><button> Add Entry</button></a>
    <h1>Transaction Details</h1>

    <strong>Date: </strong>
        <p><%= budget.date%></p>
            <br>
    <strong>Name:</strong>
        <p><%=budget.name%></p>
            <br>
    <strong>From: </strong>
        <p><%=budget.from%></p>
            <br>
    <strong>Amount: $</strong>
        <p><%=budget.amount%></p>
            <br>
    <strong>Tag: </strong>
        <p><%=budget.tags%></p>

<a href="/budget"> <button> Home </button></a>
</body>
</html>